.venv
.env
__pycache__
history
logs
storage
schedules
dbt_project/target
ticktick-gtd/
app/ETL/raw/
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb

#streamlit
secrets.toml
service_account.json
dbt_project/seeds/list_goal_mapping.csv
app.log
# database/raw
# database
.logs_queue