dagster.yaml
dagster_artifacts/*
app/env/*
!app/env/.gitkeep
.venv
.env*
__pycache__
history
logs
storage
dbt_project/target
ticktick-gtd/
app/ETL/raw/*
!app/ETL/raw/.gitkeep
# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb

#streamlit
secrets.toml
service_account.json
# dbt_project/seeds/list_goal_mapping.csv
app.log
# database/raw
# database
.logs_queue
streamlit_logs/logs.txt
app/ETL/app.log*
database/*
node_modules/
dbt_packages
package-lock.json
package.json
deactivate
app.log*

.devcontainer_prod

app.log.*

dbt_project
ticktick-py-dbt