pandas==2.2.3
dbt-core==1.9.1
dbt-postgres==1.9.0
dagster==1.9.8
dagster-dbt==0.25.8
dagster-postgres==0.25.8
humanize==4.9.0
# ticktick-py==2.0.1
ticktick_py_fork
humanize==4.9.0
pytz==2021.1
psycopg2-binary==2.9.10
Flask==3.0.3
Flask-Cors==5.0.0
gspread