ticktick-py==2.0.3
ipykernel==6.29.2
pandas==2.2.0
python-dotenv
dagster==1.5.13
dagster-webserver==1.5.13
psycopg2-binary==2.9.9
sqlalchemy==2.0.23
typing-extensions==4.9.0
greenlet==3.0.3
duckdb==0.9.2
dagster-dbt==0.21.13
dbt-duckdb==1.7.1
starlette<0.36.0 # bug starlette : https://github.com/dagster-io/dagster/issues/19356
dbt-core==1.7.3
dbt-postgres==1.7.3
elementary-data
dbt-duckdb==1.7.1
duckdb==0.9.2
sqlfluff
sqlfluff-templater-dbt