ticktick-py==2.0.3
ipykernel==6.29.2
pandas==2.2.0
python-dotenv
dagster==1.5.13
dagster-webserver==1.5.13
psycopg2-binary==2.9.9
sqlalchemy==2.0.23
typing-extensions==4.9.0
greenlet==3.0.3
duckdb==0.9.2
dagster-dbt==0.21.13
dbt-duckdb==1.7.1
dbt-core==1.7.3
dbt-postgres==1.7.3
elementary-data
dbt-duckdb==1.7.1
duckdb==0.9.2
sqlfluff
sqlfluff-templater-dbt
sqlfmt==0.0.3
requests==2.26.0
streamlit==1.27.0
altair
# if encounter the charset / urllib warn : pip install --upgrade requests urllib3 chardet charset_normalizer
